---
import { Image } from 'astro:assets';
import PageLayout from '@/layouts/PageLayout.astro';
import PageTitle from '@/components/PageComponents/PageTitle.astro';
import SectionTitle from '@/components/PageComponents/SectionTitle.astro';
import PageSection from '@/components/PageComponents/PageSection.astro';
import AudioPlayer from '@/components/AudioPlayer.astro';

import hallieHeadshot from '@/assets/press/IMG_5692_square-1024x1024.jpg';
import chrisHeadshot from '@/assets/press/cdc.jpg';
import bothGreenhouse from '@/assets/press/IMG_1128.jpg';
import podcastLogo from '@/assets/press/OTGO_LogoFinal-1-1024x1024.png';
import bannerArt from '@/assets/press/12GO_PatreonHeader_background-1-1024x256.png';
---

<PageLayout title="Press Kit">
	<PageTitle>Press Kit</PageTitle>
	<SectionTitle>What We Do</SectionTitle>
	<PageSection>
		<p>
			<em>One to Grow On</em> is a podcast where we dig into questions about agriculture and try to understand
			how food production impacts us and our world. Each episode, hosts Hallie and Chris pick an area
			of agriculture or food production to discuss. Listen for plant facts, dad jokes, and the stories
			behind your food.
		</p>

		<p>
			<em>One to Grow On</em> is an older kid-friendly podcast that is safe and appropriate for listeners
			of all ages. There are a few clearly marked episodes that contain content that may not be suitable
			for all ages
		</p>

		<p>
			Our episodes are published every other Tuesday and run 25-40 minutes. You don’t need to listen
			in order; scroll through episode titles or explore episodes by subject matter on our website.
		</p>
	</PageSection>

	<SectionTitle>Trailer</SectionTitle>
	<PageSection>
		<AudioPlayer src="/audio/promo.mp3" />
	</PageSection>

	<SectionTitle>Who We Are</SectionTitle>
	<PageSection>
		<p>
			<strong>Hallie Casey</strong> is a <em>One to Grow On</em> host and producer. She is a native Texan
			and passionate about agricultural sustainability and communication. Her love of science communication
			began at 12 when she co-founded Discover Green, a statewide non-profit focused on promoting youth
			leadership in environmental activism. She continued to work in science communication focused on
			agriculture and plant science, primarily through work in online video. Hallie got a bachelor’s in
			agribusiness from Texas State University and a master’s in International Agricultural Development
			at the University of California, Davis. She now lives in Austin, Texas. While not working, she enjoys
			mystery novels and lemon tarts.
		</p>

		<p>
			<strong>Chris Casey</strong> is a host of <em>One to Grow On</em>. A long-time lover of
			podcasts, he is thrilled to be learning about agriculture from his daughter along with the
			audience. Chris is a computer software engineer and semi-professional stage actor. Previously,
			he hosted the podcast <em>eBook Ninjas</em>. Chris lives in his hometown, Austin, Texas. When
			not podcasting, acting, or coding, Chris enjoys perfecting his smoked brisket recipe.
		</p>

		<p>
			Show art is by <a href="http://www.marsupialpudding.com/">Ashe Walker</a>.
			<br />
			Music is “Something Elated” by{' '}
			<a href="https://brokeforfree.bandcamp.com/">Broke For Free</a> licensed under a Creative Commons
			Attribution 3.0 license.
			<br />
			Superfoods music is written and performed by{' '}
			<a href="https://www.kckatalbas.com/">KC Katalbas</a>.
			<br />
			Transcripts by{' '}
			<a href="https://www.linkedin.com/in/maureen-wawira-3b18b4154/">Maureen Wawira</a>.
		</p>
	</PageSection>

	<SectionTitle>Where to Find Us</SectionTitle>
	<PageSection>
		<p>
			<em>One to Grow On</em> is released every other Tuesday on all podcasting platforms. If you’re looking
			for us between episodes, check out @onetogrowonpod on{' '}
			<a href="http://www.instagram.com/onetogrowonpod">Instagram</a>,{' '}
			<a href="http://www.twitter.com/onetogrowonpod">Twitter</a>, and{' '}
			<a href="https://www.facebook.com/onetogrowonpod">Facebook</a>.
		</p>

		<p>
			Questions, comments, interview requests, or sponsorship inquiries can be directed to{' '}
			<a href="mailto:onetogrowonmedia@gmail.com">onetogrowonmedia@gmail.com</a>.
		</p>
	</PageSection>

	<SectionTitle>Gallery</SectionTitle>
	<div class="gallery">
		<div class="gallery-item">
			<figure>
				<a href={hallieHeadshot.src}>
					<Image src={hallieHeadshot} alt="brunette girl half smiles in front of trees" />
				</a>
				<figcaption>
					Hallie Casey
					<br />
					Headshot
				</figcaption>
			</figure>
		</div>
		<div class="gallery-item">
			<figure>
				<a href={chrisHeadshot.src}>
					<Image
						src={chrisHeadshot}
						alt="Man in sunglasses holding a cigar and a drink and leaning out of a window"
					/>
				</a>
				<figcaption>
					Chris Casey
					<br />
					Headshot
				</figcaption>
			</figure>
		</div>
		<div class="gallery-item">
			<figure>
				<a href={bothGreenhouse.src}>
					<Image
						src={bothGreenhouse}
						alt="A man and a woman smiling at the camera, in a greenhouse"
					/>
				</a>
				<figcaption>Chris Casey, Hallie Casey</figcaption>
			</figure>
		</div>
		<div class="gallery-item">
			<figure>
				<a href={podcastLogo.src}>
					<Image
						src={podcastLogo}
						alt="The words One To Grow On with fruits and vegetables and a microphone"
					/>
				</a>
				<figcaption>One to Grow On podcast art</figcaption>
			</figure>
		</div>
		<div class="gallery-item">
			<figure>
				<a href={bannerArt.src}>
					<Image src={bannerArt} alt="Fruits and vegetables against a white background" />
				</a>
				<figcaption>One to Grow On banner art</figcaption>
			</figure>
		</div>
	</div>
</PageLayout>

<style>
	.gallery {
		display: grid;
		/* Stacks on mobile, 3 columns on desktop */
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 1.6rem;
		list-style-type: none;
	}

	.gallery-item {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	figure {
		position: relative;
		height: 100%;
	}

	figcaption {
		padding: 10px 40px 10px 9px;
		color: var(--otgowhite);
		/* font-style: italic; */
		font-weight: bold;
		text-align: left;
		position: absolute;
		width: 100%;
		/* left: 50%; */
		/* top: 90%; */
		bottom: 4px;
		/* transform: translate(-50%, -50%); */
		background-color: rgb(from var(--otgogreen-medium) r g b / 75%);
	}
</style>
