---
import { Image } from 'astro:assets';

import PostBanner from './PostBanner.astro';

interface Props {
	title: string;
	image: {
		src: string;
		width: number;
		height: number;
		format: 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg' | 'avif';
	};
	slug: string;
	date: Date;
}

const { title, image, slug, date } = Astro.props;
---

<a class="post-link" href={`/${slug}`}>
	<Image class="bg-img" src={image} alt="" width={277} height={208} />
	<!--<Picture pictureAttributes={{ class: 'bg-img-container' }} class="bg-img" src={image} alt="" />-->
	<PostBanner title={title} date={date} />
</a>

<style>
	.post-link {
		position: relative;
		display: flex;
		height: calc(52 * var(--spacing)); /* h-52 */
		align-items: center;
		justify-content: center;
	}

	.bg-img {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -10;
		height: 100%;
		width: 100%;
		transform: translate(-50%, -50%);
		border-radius: var(--radius-sm);
	}
</style>
