---
import { getCollection } from 'astro:content';
import PostBanner from './PostBanner.astro';

const { tag } = Astro.props;
// const res = await fetch('https://12go.onetogrowonpod.com/wp-json/wp/v2/posts?per_page=100');
// const res = await fetch(
// 	'https://12go.onetogrowonpod.com/wp-json/wp/v2/posts?_embed&_fields=author,id,excerpt,title,link,_embed,featured_media,date',
// );

// We can't build up with new URL() because there's no way to append _embed as a valueless param
// let API_URL = 'https://12go.onetogrowonpod.com/wp-json/wp/v2/posts?_embed';

const posts = await getCollection('posts');
let sortedPosts = posts.sort(
	(a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
if (tag) {
	sortedPosts = sortedPosts.filter((post) => post?.data?.tags?.includes(tag));
}
---

<section class="post-grid">
	{
		sortedPosts.map((post) => {
			/* maybe refactor to use class:lists */
			const bgUrl = post.data.coverImage ? `url(${post.data.coverImage.src})` : 'none';
			return (
				<div>
					<a class="post-link" style={{ backgroundImage: bgUrl }} href={post.data.slug}>
						<PostBanner title={post.data.title} date={post.data.date} />
					</a>
					{/* <Image src={post._embedded['wp:featuredmedia']['0'].source_url} alt="" inferSize={true} /> */}
					<p class="post-excerpt" set:html={post.data.excerpt} />
				</div>
			);
		})
	}
</section>

<style>
	.post-grid {
		@apply grid gap-8 md:grid-cols-2 lg:grid-cols-3;
	}
	.post-link {
		@apply flex h-52 items-center justify-center rounded bg-cover;
	}
	.post-excerpt {
		@apply text-sm;
	}
</style>
