---
import { Image, getImage } from 'astro:assets';

import PostBanner from './PostBanner.astro';

interface Props {
	title: string;
	image: {
		src: string;
		width: number;
		height: number;
		format: 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg' | 'avif';
	};
	slug: string;
	date: Date;
}

const { title, image, slug, date } = Astro.props;
const bgImage = await getImage({ src: image, format: 'jpg' });
console.log({ bgImage });
const styleString = `
  background-image: url(${bgImage.src});
`;
---

<a class="post-link" href={`/${slug}`}>
	<Image class="link-child bg-img" src={image} alt="" />
	<PostBanner class="link-child" title={title} date={date} />
</a>

<style>
	.post-link {
		@apply grid h-52 grid-cols-1 items-center justify-center rounded;
	}
	.bg-img {
		@apply rounded;
	}
	.link-child {
		@apply col-start-1 row-start-1;
	}
</style>
