---
import type { CollectionEntry } from 'astro:content';
import PostLink from './PostLink.astro';


interface Props {
	posts: CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;

const sortedPosts = posts.sort(
	(a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<section class="post-grid">
	{
		sortedPosts.map((post) => {
			return (
				<div>
					<PostLink
						title={post.data.title}
						image={post.data.coverImage}
						slug={post.data.slug}
						date={post.data.date}
					/>
					{/* <Image src={post._embedded['wp:featuredmedia']['0'].source_url} alt="" inferSize={true} /> */}
					<p class="post-excerpt" set:html={post.data.excerpt} />
				</div>
			);
		})
	}
</section>

<style>
	.post-grid {
		display: grid;
		gap: calc(8 * var(--spacing)); /* gap-8 */
	}

	@media (min-width: 48rem) { /* md: breakpoint */
		.post-grid {
			grid-template-columns: repeat(2, minmax(0, 1fr)); /* grid-cols-2 */
		}
	}

	@media (min-width: 64rem) { /* lg: breakpoint */
		.post-grid {
			grid-template-columns: repeat(3, minmax(0, 1fr)); /* grid-cols-3 */
		}
	}

	.post-excerpt {
		font-size: var(--text-sm);
	}
</style>
