---
import { metadata } from '@/constants/metadata';

interface Props {
	title?: string;
}

const { title } = Astro.props;

const seoTitle = title ? `${title} | ${metadata.title}` : metadata.title;
console.log({ seoTitle });
---

<title>{seoTitle}</title>

<!-- Meta Tags -->
<meta charset="utf-8" />
<meta name="description" content=`${metadata.description}` />
<meta property="og:title" content=`${seoTitle}` />
<meta property="og:description" content=`${metadata.description}` />
<meta property="og:type" content="website" />
<meta
	property="og:image"
	content="https://12go.onetogrowonpod.com/wp-content/uploads/2019/04/OTGO-1400.jpg"
/>

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content=`${metadata.author}` />
<meta name="twitter:title" content=`${seoTitle}` />
<meta name="twitter:description" content=`${metadata.description}` />
<meta
	property="twitter:image"
	content="https://12go.onetogrowonpod.com/wp-content/uploads/2019/04/OTGO-1400.jpg"
/>

<!-- Optional Keywords Meta Tag -->

<meta name="keywords" content=`${metadata.keywords.join(', ')}` />
